.bottom_nav_two {
  background-color: rgb(233, 224, 224);
  margin-top: -3px;
  height: 35px;
}

.logo_two {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo-text_two {
  margin-top: 13px;
  font-size: 30px;
}

.search_bar_two {
  margin-left: auto;
  margin-top: 5px;
  font-size: 10px;
}

.icon_two {
  margin-top: 25px;
  margin-right: 20px;
  color: grey;
}

.make-space_two {
  margin-top: 5px;
  padding-left: 15px;
  color: black;
}

.make-space_two:hover {
  font-weight: bold;
}
