.top_size {
  width: 100%;
  height: 500px;
  margin-top: 1%;
}

.bg-no-overlay {
  /* Left */
  background: url("../resources/hoodie.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  float: left;
  width: 70%;
  height: 800px;
  margin-top: 5%;
}

.bg-no-overlay-two {
  /* top */
  background: url("../resources/shoe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  width: 132%;
  height: 400px;
  margin-top: 5%;
  float: right;
}

.bg-no-overlay-three {
  /* middle */
  background: url("../resources/beach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  width: 60%;
  height: 388px;
  margin-top: -53%;
  margin-right: -32%;
  float: right;
}

.bg-no-overlay-four {
  /* right */
  background: url("../resources/garden.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  width: 70%;
  height: 800px;
  margin-top: -53%;
  margin-left: 20%;
  float: right;
}

.bg-no-overlay-five {
  /* right */
  background: url("../resources/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  width: 64.8%;
  height: 150%;
  margin-top: -5%;
  margin-left: 1%;
}

.carousel-caption {
  background-color: rgba(129, 41, 41, 0.493);
  width: 70%;
}
