.bottom_nav {
  background-color: rgb(233, 224, 224);
  margin-top: -10px;
}

.colour_of_nav_text {
  color: black;
  font-size: 80%;
}

.logo {
  width: 140px;
}

.search_bar {
  margin-left: auto;
  margin-top: 1%;
  font-size: 15px;
}

.icon {
  margin-top: 2%;
  color: grey;
}
