.footer {
  text-align: left;
  padding: 20px;
  background-color: rgb(245, 240, 240);
  line-height: 30px;
  height: 200px;
}

.footer-two {
  text-align: center;
  padding: 3px;
  background-color: grey;
  color: white;
}

.footer .div-two {
  transform: translate(25%, -60%);
}

a {
  color: grey;
}
