.footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(223, 221, 221);
  color: grey;
  height: 200px;
}

.footer-two {
  text-align: center;
  padding: 3px;
  background-color: grey;
  color: white;
}

.container {
  text-align: left;
}
