.main-footer {
  margin-top: 50px;
}

.footer {
  text-align: left;
  padding: 20px;
  background-color: rgb(245, 240, 240);
  line-height: 30px;
  height: 200px;
}

.footer .div-two {
  transform: translate(25%, -60%);
  width: 80%;
}

.footer-two {
  text-align: center;
  padding: 2px;
  background-color: grey;
  color: white;
}

.footer-two p {
  margin-top: 7px;
}

a {
  color: grey;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

.email {
  width: 20%;
  float: right;
  transform: translate(-35%, -70%);
}

.sub-button {
  padding: 3px;
  background-color: rgb(26, 117, 192);
  border: none;
  color: white;
  transform: translate(400%, -105%);
  font-size: 30px;
}
