.footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  height: 50px;
}

.footer-two {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
